<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="col-md-6 col-md-offset-3">

        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">

                    <h1 class="text-center">Images content comaprator</h1>
                </div>
                <div class="panel-body">

                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">

                                <h2 class="text-center">First image</h2>
                            </div>
                            <div class="panel-body">
                                <label class="btn btn-primary btn-file col-md-6 col-md-offset-3">
                                    Browse <input type="file" style="display: none;">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">

                                <h2 class="text-center">Second image</h2>
                            </div>
                            <div class="panel-body">
                                <label class="btn btn-primary btn-file col-md-6 col-md-offset-3">
                                    Browse <input type="file" style="display: none;">
                                </label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="panel">
                        <a href="/result" class="btn btn-danger col-md-6 col-md-offset-3">Compare images</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>